@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
        gap: 25px;
        align-items: flex-start;
        top: 78px;
        height: 100vh;
        width: 100%;
        left: 0;
        background-color: #f4f4f4;
        box-shadow:  var(--shadow);
        padding: 2rem 2rem;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .nav-btn {
        box-shadow: none;
        border-radius: 5px;
        padding: 5px 5px;
        font-size: 1.4rem;
    }

    .subnav-list {
        width: 100%;
    }

    .has-submenu .subnav-list {
        position: static;
        display: none;
    }

    .has-submenu.open .subnav-list {
        display: block;
        position: static;
    }

    /* Header section*/
    .header-container {
        flex-direction: column-reverse;
    }

    .header-content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .header-img {
        width: 100%;
    }

    .header-title {
        font-size: 2.5rem;
    }

    /* partners */
    .partner-container {
        flex-direction: column;
        gap: 5rem;
        align-items: center;
    }

    .partner-logo {
        width: 50%;
    }

    /* About section */
    .about_section-container {
        flex-direction: column;
    }

    .about_section-img {
        width: 100%;
    }

    .about_section-content {
        width: 100%;
    }

    /* Values section */
    .values_section-container {
        flex-direction: column;
    }

    .values_section-content {
        width: 100%;
    }

    .values_section-img {
        width: 100%;
    }

    .values_section_card {
        flex-direction: column;
    }

    .values_section-cont {
        width: 100%;
        flex-direction: column;
    }

    .contact_section-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .contact_section-title h1 {
        font-size: 2.5rem;
    }

    /* gallery */
    .gallery_section-content {
        flex-direction: column;
    }

    .gallery_section-img {
        width: 100%;
    }

    /* services section */
    .services-content {
        flex-direction: column;
    }

    .services-card {
        width: 100%;
        flex-direction: column;
    }

    /* contact us page */
    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
    }

    .contact-address {
        width: 100%;
    }

    .form-input {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
    }

    .address-title p {
        font-size: 1.4rem;
    }

    .about-content {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
    }

    .about_main-content {
        width: 100%;
    }

    .about-title {
        font-size: 2.5rem;
    }

    /* mision */
    .mission-container {
        flex-direction: column-reverse;
    }

    .mission-content {
        width: 100%;
    }

    .mission-img {
        width: 100%;
    }

    /* Vision */
    .vision-container {
        flex-direction: column;
    }

    .vision-content {
        width: 100%;
    }

    .vision-img {
        width: 100%;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .footer-form {
        flex-direction: column;
        align-items: start;
    }
}


@media screen and (max-width: 1200px) {
    .gallery-image-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .gallery-image-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .gallery-image-container {
        grid-template-columns: repeat(1, 1fr);
    }
}