@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #fff;
    --black-color: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 22%);
    --color-secondary: #717cff;
    --color: #778295;
    --davys-gray: hsl(0, 0%, 33%);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --poppins: "Poppins", sans-serif;
    --jost: "Nunito", sans-serif;
    --fs-45: 4.5rem;
    --fs-38: 3.8rem;
    --fs-32: 3.2rem;
    --fs-27: 2.7rem;
    --fs-26: 2.6rem;
    --fs-22: 2.2rem;
    --fs-20: 2rem;
    --fs-18: 1.8rem;
    --fs-17: 1.7rem;
    --fs-14: 1.4rem;
    --fs-12: 1.2rem;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-semibold: 800;
    --fw-bold: 900;
    --shadow: 0 2px 2px hsla(0, 0%, 22%, 0.08);
    --radius-50: 50px;
    --radius-pill: 100px;
    --radius-circle: 50%;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --section-background: #fafafa;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    user-select: none;
    overflow-x: hidden;
    font-family: var(--jost);
    font-style: normal;
    background-color: var(--color-white);
    color: var(--davys-gray);
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-color);
    font-family: var(--jost);
    font-weight: var(--fw-semibold);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button,
input {
    font-family: inherit;
}

.odd-text {
    color: var(--color-secondary);
}

.section {
    padding: 6rem 0rem;
    display: flex;
    align-items: center;
}

.section-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-dist {
    display: flex;
    justify-content: space-between;
}

.header-section {
    margin-top: 80px;
}

/* Navigation Bar */
nav {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 1.3rem 0rem;
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-logo {
    width: 70px;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-list li {
    margin-left: 1rem;
    font-size: var(--fs-17);
    font-weight: var(--fw-semibold);
}

.nav-list li a {
    color: var(--color-black);
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-list li a:hover {
    color: var(--color-secondary);
}

.subnav-list {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    box-shadow: var(--card-box-shadow);
    padding: 0.5rem 0;
    min-width: 200px;
}

.nav-list li:hover .subnav-list {
    display: block;
}

.subnav-list li {
    margin: 0;
    padding: 0;
    font-size: var(--fs-17);
}

.subnav-list li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--black-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.subnav-list li a:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

/* Styles for Menu Button */
.menu-btn {
    display: none;
    background: none;
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
}

.goog-te-gadget-icon {
    display: none;
}

.goog-te-gadget-simple {
    background-color: var(--color-secondary) !important;
    border: 0 !important;
    font-size: var(--fs-14);
    border-radius: 5px;
    font-weight: 800;
    display: flex;
    padding: 0.5rem !important;
    cursor: pointer;
    margin-left: 2rem;
}

.goog-te-gadget-simple span {
    color: var(--color-white) !important;
    border: none;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed img {
    display: none !important;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    text-decoration: none !important;
}

/* Logo */
.logo p {
    font-size: var(--fs-26);
    font-weight: var(--fw-bold);
}

.logo span {
    color: var(--color-secondary);
}

/* header */
.header {
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/IMG-20240418-WA0050.jpg');
    backdrop-filter: blur(20.5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-white);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.header-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.header-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header-content h1 {
    color: var(--color-white);
    font-size: var(--fs-45);
    line-height: 4rem;
    font-weight: 800;
}

.header-content p {
    font-size: var(--fs-17);
    line-height: 2rem;
    width: 80%;
}

.header-btn-cont {
    display: flex;
    gap: 2rem;
}

/* About Section */
.about_section {
    padding: 6rem 0rem;
    display: flex;
    align-items: center;
}

.about_section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about_section-img {
    width: 50%;
}

.about_section-img img {
    border-radius: 20px;
}

.about_section-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about_section-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about_section-title h3 {
    color: var(--color-secondary);
    font-size: var(--fs-20);
    font-weight: var(--fw-semibold);
}

.about_section-title h1 {
    font-size: var(--fs-38);
    font-weight: 800;
}

.about_section-briefing {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about_section-briefing p {
    line-height: var(--fs-26);
}


/* events */
.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.events-title h1 {
    font-size: var(--fs-38);
    font-weight: 800;
}

.events-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.events-card {
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    width: 30%;
}

/* partners */
.partners {
    background-color: var(--section-background);
}

.partners-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.partners-title h1 {
    font-size: var(--fs-38);
    font-weight: 800;
}

.partners-image-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.partners-image-container div img {
    width: 250px;
    height: 250px;
}

/* Values section */
.values_section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.values_section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.values_section-title h1 {
    font-size: var(--fs-38);
}

.values_section-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.values_section_card {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.values_section-cont {
    width: 50%;
    display: flex;
    gap: 2rem;
    align-items: start;
    border: 2px solid var(--color-secondary);
    padding: 2rem;
}

.values_section-icon {
    font-size: var(--fs-32);
    color: var(--color-secondary);
}

/* contact section */
.contact_section {
    background: var(--jet);
}

.contact_section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_section-title h1 {
    color: var(--color-white);
    font-size: var(--fs-38);
}

/* gallery section */
.gallery_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.gallery_section-content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.gallery_section-title h1 {
    font-size: var(--fs-38);
}

.gallery_section-img {
    width: 30%;
}

.gallery_section-img img {
    border-radius: 10px;
    height: 100%;
}

/* services */
.services {
    background-color: var(--section-background);
    padding: 6rem 0rem;
    display: flex;
    align-items: center;
}

.services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.services-title h1 {
    font-size: var(--fs-38);

}

.services-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.services-card {
    width: 45%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border: 2px solid var(--color-secondary);
    padding: 2rem;
}

.services-icon {
    width: 70px;
    height: 70px;
    border: 2px solid var(--jet);
    color: var(--jet);
    display: grid;
    place-items: center;
    flex-shrink: 0;
    background-color: var(--white);
}

.services-icon i {
    font-size: 3rem;
}

.services-briefing {
    color: var(--jet);
}

/* gallery page */
.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.gallery-title {
    font-size: var(--fs-38);
}

.gallery-image-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
}

.gallery-image-cont {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    cursor: pointer;
}

.gallery-image-cont img {
    border-radius: 10px;
    height: 100%;
}

/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* contact us */
.contact {
    background-color: #f4f4f4;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.contact-form {
    width: 50%;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-title h1 {
    font-size: var(--fs-38);
}

.form-title p {
    font-size: var(--fs-20);
}

.form-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.input-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container label {
    font-weight: var(--fw-600);
}

.input-container input {
    border: 1px solid var(--jet);
    padding: 10px 12px;
    margin-block-end: 24px;
    outline: none;
    transition: box-shadow var(--transition-1);
}

.input-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-cont label {
    font-weight: var(--fw-600);
}

.input-cont input {
    width: 100%;
    border: 1px solid var(--jet);
    padding: 10px 12px;
    margin-block-end: 24px;
    outline: none;
    transition: box-shadow var(--transition-1);
}

.input-cont textarea {
    width: 100%;
    border: 1px solid var(--jet);
    padding: 10px 12px;
    margin-block-end: 24px;
    outline: none;
    transition: box-shadow var(--transition-1);
}

.contact-address {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.address-main {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.address-icon {
    color: var(--jet);
    border: 1px solid var(--color-secondary);
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
}

.address-icon i {
    color: var(--color-secondary);
}

.address-title h3 {
    font-weight: var(--fw-400);
    color: var(--color-secondary);
}

.address-title p {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-18);
}

/* About Us */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.about-content {
    display: flex;
    align-items: start;
    gap: 4rem;
}

.about-img {
    width: 50%;
}

.about-img img {
    border-radius: 20px;
    padding: 2rem;
    border: 4px solid var(--color-secondary);
}

.about_main-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_main-content div li {
    font-size: var(--fs-18);
    list-style: square;
}

/* mission */
.mission-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.mission-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mission-content p {
    font-size: var(--fs-18);
}

.mission-img {
    width: 50%;
}

.mission-img img {
    border-radius: 20px;
    padding: 2rem;
    border: 4px solid var(--color-secondary);
}

.mission-title {
    font-size: var(--fs-38);

}

/* vision */
.vision-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.mission-content {
    width: 50%;
}

.vision-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vision-content p {
    font-size: var(--fs-18);
}

.vision-img {
    width: 50%;
}

.vision-img img {
    border-radius: 20px;
    padding: 2rem;
    border: 4px solid var(--color-secondary);
}

.vision-title {
    font-size: var(--fs-38);

}

/* blog */
.blog {
    height: 100vh;
}

/* footer */
.footer {
    background: var(--color-secondary);
    padding: 2rem 0rem;
    color: var(--color-white);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.footer-addresses {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-nav-logo img {
    width: 100px;
    height: 100px;
}

.footer-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-navlist {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-nav-title h3 {
    color: var(--color-white);
    font-weight: 900;
}

.footer-mainlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-mainlist li a {
    color: var(--color-white);
}

.footer-mainlist li a:hover {
    color: var(--color-black);
}

.footer-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-form input {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 12px 24px;
    width: 75%;
}

.footer-form-cont {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.footer-socials div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-white);
}

/* btn */
.btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 22px;
    transition: var(--transition-1);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
}

.footer-btn {
    box-shadow: none;
    border-radius: 5px;
}

.news-btn {
    background-color: var(--color-white);
    color: var(--color-secondary);
}

.news-btn:hover {
    background-color: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
}